= content_for(:title, "About")

%h1 About
%br
%br
%br
This app is designed for new Computer Science Graduate Students who can plan their classes based on graduation requirements for their specific program.
%br
%br
%br
%br
%br
