= content_for(:title, "Contact")

%h1 Contact

Duncan M. (Hank) Walker
%br
Department of Computer Science and Engineering 
%br
Texas A&M University
%br
3112 TAMU 
%br
College Station, TX 77843-3112
%br
Tel: (979) 862-4387 
%br
Email: walker@cse.tamu.edu 
%br
%br
Team Members:
● Johana Rueda - Scrum Master

● Aditya Sharma

● Yining Bao - Product Owner

● Jingjia Li

● Shijin Tang
%br
