= content_for(:title, "Help")

%h1 Help
Steps for students/users:
%br
%br - First,  go to "Signup" page and create an account
%br - Second, fill in your information
%br - Once you save the information, you can use those details to login
%br - After login, you can view your information and create degree plan, you can pick courses according to the required courses and the interest courses.
%br - After save the courses you choose, you can check their details and decide to add more courses or delete courses.
%br - Once you meet all the requirements of your degree plan, you will have a table of your own degree plan courses.
%br - All the best !!!