= content_for(:title, "Help")

%h1 Help
Steps for students/users:
%br
%br - First,  go to "Signup" page and create an account
%br - Second, go to "Signup" page and create an account
%br - Third, go to "Signup" page and create an account
%br - Forth, go to "Signup" page and create an account