= content_for(:title, "Home")

.center.jumbotron
  %h1 Welcome to the Degree Planner
  %h2
    This is the home page for the
    %a{:href => "http://www.railstutorial.org/"} Degree Planner App
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
= link_to image_tag("tamulogo.png", size: "100x100", alt: "Rails logo"), 'http://tamu.edu' 